
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 200vh;
}
body{
    background-color: #bea5aa;
}
#logo{
    width: 50%;
}


#collapsibleNavbar{
    margin-right: 100vh;
    
}
#collapsibleNavbar ul li{
    margin-left: 30%;
}

   

.dropdown-menu{
    font-size: 12px;
    background-color:white;
    padding-right: 80px;

    
}
.dropdown-item{
    color: black;
    text-align: center;
    width: 150px;

}

#choral{
    background-image: url(DevHunt/Photos/choral.jpg);
    position: fixed;
    width:100%;
    top: 10vh;
    margin-bottom: 100vh;
    height: 90vh;
    background-size: cover;
    background-position: center center;
   

}
#row{
    display: flex;
}
.eni{
    margin-top: 10vh;
    margin-right: 15vh;
    border-style: solid;
    border-radius: 10%;
    border-color: #e9ccd1;
    
}
#titre{
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 20vw;
    margin-left: -70vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    font-weight: bold;
    width: 600px;
    height: 20vh;
    line-height: 100px;
}
#h2{
    margin-top: 6%;
    text-align: center;
    color: white;
}
.h3 p{
    font-size: 3vh;
    margin-top: 5%;
    margin-left: 70vh;
    color: beige;
    border-style: solid;
    border-color: transparent;
    width: 30%;
    justify-content: center;
    text-align: center;
}
section{
    top: 100vh;
    height: auto;
    width: 100%;
    position: relative;
    background-color: #e9ccd1;
    background-size: cover;
}
ul li a{
    text-decoration: none;
    color: white;
    
}
ul li{
    list-style-type: none;
    color: white;
}
.h3 ul li{
    display: inline;

}
 










